.navbar {background:url("../images/fondo.jpg");
  background-repeat: x;
  background-size: 450px;
  height: 100px;
  color: gray;}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

div.titcent {

  text-align: center;
}

button {
    background-color: #212529;
    border: 0px;
}

#titulo { 
    text-align: center;
    font-size: 5rem;
    color: gray;
    margin-block: 10px;
}

#cerrarbtn {
    color:white
}

#lead {
    text-align: center;
    display: inline-block;
    border-color: black;
    border-top: 2px solid;

}

#Comuniquémonos {

    color: white;
    width: 50%;
    margin: 0 auto;
    background-color: #070707;
    text-align: center;
}

#Cajita {
    height: 150px
}

#Reserva {
    
    color: white;
    width: 50%;
    margin: 0 auto;
    background-color: #070707;
    text-align: center;
}

footer {

    background:url("../images/fondo.jpg");
    height: 300px;
    color: white;
    text-align: center;
  }

.cpy {

    padding-top: 175px;
}

@media (min-width:1025px) and (max-width:1200px) {

    .navbar {height: 250px; width: 150%;}
}

@media (min-width:769px) and (max-width:1024px) {

    #lead {margin-top: 0px;}
    footer {height: 205px;}
    .cpy {padding-top: 110px;}
    .dropcol {background-color: black;}
}

@media (max-width:768px) {

    .cpy {padding-top: 100px;}
    footer {height: 200px;}
    .dropcol {background-color: black;}
}